################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/S3FileLoadApi/.vs/S3FileLoadApi
